body {
    background: black;
}

#board {
    width: 100%;
    height: 100%;
    background: white;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10em;
  height: 10em;
  position: absolute;
  background-color: #ffffa5;
  justify-content: space-between;
  -webkit-box-shadow: 5px 5px 22px 1px rgba(41,41,41,0.39);
  -moz-box-shadow: 5px 5px 22px 1px rgba(41,41,41,0.39);
  box-shadow: 5px 5px 22px 1px rgba(41,41,41,0.39);
}

textArea {
  overflow: auto;
  resize: none;
  border: none;
  border-right: solid 1px #d8d893;
  background-color: #ffffa5;
}

.actionButtons {
  width: 20px;
  position: relative;
  margin-right: 0.45em;
  margin-top: 7em;
}

.post {
  border: none;
  background: none;
}
